<h1>Listing rvsps</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Player</th>
    <th>Rvsp status</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rvsps.each do |rvsp| %>
  <tr>
    <td><%= rvsp.activity_id %></td>
    <td><%= rvsp.player_id %></td>
    <td><%= rvsp.rvsp_status_id %></td>
    <td><%= rvsp.comment %></td>
    <td><%= link_to 'Show', rvsp %></td>
    <td><%= link_to 'Edit', edit_rvsp_path(rvsp) %></td>
    <td><%= link_to 'Destroy', rvsp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rvsp', new_rvsp_path %>
