<p id="notice"><%= notice %></p>

<p>
  <b>Activity:</b>
  <%= @rvsp.activity_id %>
</p>

<p>
  <b>Player:</b>
  <%= @rvsp.player_id %>
</p>

<p>
  <b>Rvsp status:</b>
  <%= @rvsp.rvsp_status_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @rvsp.comment %>
</p>


<%= link_to 'Edit', edit_rvsp_path(@rvsp) %> |
<%= link_to 'Back', rvsps_path %>
