<h1>Listing users</h1>
<p id="notice"><%= notice %></p>

<!--<table>-->
  <!--<tr>-->
    <!--<th>Username</th>-->
    <!--<th>E-mail</th>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th>Godkännandestatus</th>-->
    <!--<th>Roller</th>-->
  <!--</tr>-->

  <% @users.each do |user| %>
      <!--<tr>-->
        <!--<td><%= user.login %></td>-->
        <!--<td><%= mail_to user.email %></td>-->
        <!--<td><%= link_to 'Visa', user %></td>-->
        <!--<td><%= link_to 'Ändra', edit_user_path(user) %></td>-->
        <!--<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>-->
        <!--<td>-->
          <% if user.approved? %>
              <!--Godkänd-->
          <% else %>
              <% if current_user.has_role? :admin %>
                  <!--<%= link_to 'Approve!', approve_user_path(user) %>-->
              <% else %>
                  <!--Inte godkänd-->
              <% end %>
          <% end %>

        <!--</td>-->

        <!--<td>-->
          <% user.roles.each { |r| %>
              <!--<%= r.name %>-->
          <% } %>
        <!--</td>-->
      <!--</tr>-->
  <% end %>
<!--</table>-->



<div id="players-container">
  <div id="players-listing-wrapper">


    <div id="player-list-left-col">
      <% col_counter = 0 %>
      <% user_counter = 0 %>
      <% @users.each do |user| %>

          <div class="player-small-box<%= ' palyer-active-background' if user.active? %>">
            <div align="right" class="player-small-box-right">
               <% if current_user.has_role? :admin then %>
                  <% if !user.approved? then %>
                      <%= link_to image_tag('indicators/accept.png', :border => 0), approve_user_path(user) %>
                  <% end %>

                  <%= link_to image_tag('indicators/bin_closed.png', :border => 0), user_path(user), :method => :delete %>
               <% end %>
              <br/>
              <%= user.player_type_id %><br/>
              Aktiv
            </div>

            <strong>
                <span class="<%= 'player-not-approved-name' if !user.approved? %>">
                    <%= link_to user.full_name, user %>
                </span>
              <%= image_tag( 'indicators/rosette.png', :align => 'top', :alt => 'Is admin') if user.has_role? :admin %>
              <%= image_tag( 'indicators/user.png', :align => 'top', :alt => 'Spelare') if user.has_role? :player %>
              <%= '[GÄST]' if user.has_role? :guest %>
            </strong>
            <br/>

            <a href="callto:<%= user.mobile_phone %>"><%= user.mobile_phone %></a><br/>
            <%= mail_to(user.email) %>
          </div>

          <% if @users.count >= 3 and (user_counter % (@users.count/3)) == 0 %>
              <% if col_counter != 0 %>
                  <% if col_counter == 1 %>
                      </div>
                      <div id="player-list-center-col">
                  <% elsif col_counter == 2 %>
                      </div>
                      <div id="player-list-right-col">
                  <% end %>

              <% end %>
              <% col_counter += 1 %>
          <% end %>
          <% user_counter += 1 %>
      <% end %>



      </div>


      </div>


</div>






</div>
<!--
<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Crypted password</th>
    <th>Password salt</th>
    <th>Persistence token</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Personal number</th>
    <th>Street address</th>
    <th>Zip code</th>
    <th>Living area</th>
    <th>Active</th>
    <th>Home phone</th>
    <th>Mobile phone</th>
    <th>Goals</th>
    <th>Wants reminders</th>
    <th>Reminder time</th>
    <th>Player type</th>
    <th>Login count</th>
    <th>Failed login count</th>
    <th>Last request at</th>
    <th>Current login at</th>
    <th>Last login at</th>
    <th>Current login ip</th>
    <th>Last login ip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= user.crypted_password %></td>
    <td><%= user.password_salt %></td>
    <td><%= user.persistence_token %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.personal_number %></td>
    <td><%= user.street_address %></td>
    <td><%= user.zip_code %></td>
    <td><%= user.living_area %></td>
    <td><%= user.active %></td>
    <td><%= user.home_phone %></td>
    <td><%= user.mobile_phone %></td>
    <td><%= user.goals %></td>
    <td><%= user.wants_reminders %></td>
    <td><%= user.reminder_time %></td>
    <td><%= user.player_type_id %></td>
    <td><%= user.login_count %></td>
    <td><%= user.failed_login_count %></td>
    <td><%= user.last_request_at %></td>
    <td><%= user.current_login_at %></td>
    <td><%= user.last_login_at %></td>
    <td><%= user.current_login_ip %></td>
    <td><%= user.last_login_ip %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
-->
<br/>

<%= link_to 'Ny User', new_user_path %>
