<h1>Listing rvsp_statuses</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rvsp_statuses.each do |rvsp_status| %>
  <tr>
    <td><%= rvsp_status.title %></td>
    <td><%= link_to 'Show', rvsp_status %></td>
    <td><%= link_to 'Edit', edit_rvsp_status_path(rvsp_status) %></td>
    <td><%= link_to 'Destroy', rvsp_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rvsp status', new_rvsp_status_path %>
