    <h1>Forum</h1>

<div id="forum-new-post-link">
    <%= link_to 'Skriv något coolt', new_wall_post_path %> <span id="toggle-new-post">hitme</span>
</div>
<%= paginate @wall_posts %>
<br />

<div id="forum-new-container">
    <%= text_area_tag :body, nil, :class => 'mceEditor', :style =>"width: 98%;", :rows => 4%>
    <br />
</div>

<div id="forum-container">
  <% @wall_posts.each do |wall_post| %>

      <span class="post-date"><%= wall_post.display_date %>  kl <%= wall_post.created_at.strftime("%H:%M") %> </span>
        sa <span class="post-header"><%= wall_post.user.first_name %></span> ....
      <blockquote>
        <%= raw(Sanitize.clean(wall_post.body, Sanitize::Config::BASIC)) %>
      </blockquote>

  <% end %>
</div>

<div id="forum-new-post-link">
    <%= link_to 'Skriv något coolt', new_wall_post_path %>
</div>
<%= paginate @wall_posts %>



