<h1>Listing players</h1>

<table>
  <tr>
    <th>Username</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Personal number</th>
    <th>Street address</th>
    <th>Zip code</th>
    <th>Living area</th>
    <th>Active</th>
    <th>Home phone</th>
    <th>Mobile phone</th>
    <th>Email</th>
    <th>Goals</th>
    <th>Wants reminders</th>
    <th>Reminder time</th>
    <th>Player type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.username %></td>
    <td><%= player.first_name %></td>
    <td><%= player.last_name %></td>
    <td><%= player.personal_number %></td>
    <td><%= player.street_address %></td>
    <td><%= player.zip_code %></td>
    <td><%= player.living_area %></td>
    <td><%= player.active %></td>
    <td><%= player.home_phone %></td>
    <td><%= player.mobile_phone %></td>
    <td><%= player.email %></td>
    <td><%= player.goals %></td>
    <td><%= player.wants_reminders %></td>
    <td><%= player.reminder_time %></td>
    <td><%= player.player_type_id %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
