<%= stylesheet_link_tag 'anytime', 'dd' %>
<%= javascript_include_tag 'anytime', 'jquery.highlightFade', 'jquery.dd', 'new-activity' %>

<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div id="dates-container" class="collapsible-container">
        <div id="dates-header" class="collapse-arrow collapsible-sub-header">
            <h2>Grundinformation</h2>
        </div>

        <div id="baseinfo-area" class="collapsible-region">
            <div>
                <p>
                    <%= f.check_box :all_day %>
                    <%= f.label :all_day, 'Heldag' %><br />
                </p>
            </div>


            <div id="start-date">
                <%= f.label :start_at, 'Börjar' %>
                <br/>
                <%= f.text_field :start_at, :class => 'date-input' %>
            </div>

            <div id="end-date">
                <%= f.label :end_at, 'Slutar' %>
                <br/>
                <%= f.text_field :end_at, :class => 'date-input' %>
            </div>

            <div id="activity-type-area">
                <%= f.label :activity_type, 'Typ av aktivitet' %>
                <br />
                <select id="activity_activity_type" style="width: 150px;">
                  <% @activity_types.each do |t| %>
                    <option value="<%= t.id %>" title="<%= t.image_path %>" <%= 'selected' if t == @activity.activity_type %>><%= t.name %></option>
                  <% end  %>
                </select>

            
            </div>


        </div>
    </div>

    

  <div class="field">

  </div>
  
  <div class="field">
    <%= f.label :correlation_id %><br />
    <%= f.text_field :correlation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
