<%= stylesheet_link_tag 'anytime', 'dd' %>
<%= javascript_include_tag 'anytime', 'jquery.highlightFade', 'jquery.dd', 'new-activity', 'collapsible-regions' %>

<%= form_for(@activity) do |f| %>
    <% if @activity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

          <ul>
            <% @activity.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div id="dates-container" class="collapsible-container">
      <div id="dates-header" class="collapse-arrow collapsible-sub-header">
        <h2>Grundinformation</h2>
      </div>

      <div id="baseinfo-area" class="collapsible-region">
        <div>
          <p>
            <%= f.check_box :all_day %>
            <%= f.label :all_day, 'Heldag' %><br/>
          </p>
        </div>


        <div id="start-date">
          <%= f.label :start_at, 'Börjar' %>
          <br/>
          <%= f.text_field :start_at, :class => 'date-input' %>
        </div>

        <div id="end-date">
          <%= f.label :end_at, 'Slutar' %>
          <br/>
          <%= f.text_field :end_at, :class => 'date-input' %>
        </div>

        <div id="activity-type-area">
          <%= f.label :activity_type, 'Typ av aktivitet' %>

          <br/>
          <select id="activity_activity_type_id" name="activity[activity_type_id]" style="width: 150px;">
            <% @activity_types.each do |t| %>
                <option value="<%= t.id %>" title="<%= t.image_path %>" <%= 'selected' if t == @activity.activity_type %>><%= t.name %></option>
            <% end %>
          </select>
        </div>

      </div>
    </div>


    <div id="repeat-container" class="collapsible-container">
      <div id="repeat-header" class="expand-arrow collapsible-sub-header">
        <h2>Återkommande</h2>
      </div>

      <div id="repeat-section" style="display: none;" class="collapsible-region">
        <% if !@activity.correlation_id then %>
            <div>
              <br />
              <input type="checkbox" id="activity_repeat" name="activity[activity_repeat]"/> <label id="lbl_activity_repeat" for="activity_repeat">Återkommande aktivitet</label>
            </div>
            <div class="spacing-20-right">&nbsp;</div>
            <div>
              Upprepas
              <br/>
              <select id="activity_repeat_interval" name="activity[repeat_interval]" style="width: 150px;">
                <option value="weekly">Veckovis</option>
                <option value="monthly">Månadsvis</option>
                <option value="yearly">Årsvis</option>
              </select>
            </div>
            <div>
              T o m
              <br/>
              <input type="text" id="activity_repeat_end_date" name="activity[repeat_end_date]" class="date-input"/>
            </div>
        <% else %>
            Ej tillgänglig för editering i detta läge. Den funktionen kommer längre farm.
        <% end %>
      </div>

    </div>


    <div id="players-container" class="collapsible-container">
      <div id="players-header" class="collapse-arrow collapsible-sub-header">
        <h2>Inbjudna</h2>
      </div>

      <div id="players-section" class="collapsible-region">
        <br/>

        <div id="players-top-bar">
          <a href="#" id="href-select-all">Select all</a> |
          <a href="#" id="href-select-players">Players</a> |
          <a href="#" id="href-select-guests">Guests</a> |
          <a href="#" id="href-clear-all">Clear</a>
        </div>
        <br/>

        <div id="players-list-container">
          <div id="players-left-col">
            <% col_counter = 0 %>
            <% user_counter = 0 %>
            <% @users.each do |user| %>
                <div>
                  <input id="activity_rvsps_user_ids_"
                         name="activity[rvsps_user_id][]"
                         type="checkbox"
                         <%= "checked=\"checked\"" if @activity.is_user_invited?(user) %>
                         value="<%= user.id %>"
                         class=" <%= 'player-chk' if user.has_role?(:player) %> <%= 'guest-chk' if user.has_role?(:guest) %>"/> <%= user.full_name %>

                </div>
                <% if @users.count >= 3 and (user_counter % (@users.count/3)) == 0 %>
                    <% if col_counter != 0 %>
                        <% if col_counter == 1 %>
                            </div>
                            <div id="players-center-col">
                        <% elsif col_counter == 2 %>
                            </div>
                            <div id="players-right-col">
                        <% end %>

                    <% end %>
                    <% col_counter += 1 %>
                <% end %>
                <% user_counter += 1 %>
            <% end %>
            </div>
            </div>

      </div>

    </div>


    <div class="field">

    </div>


    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
