<h1>Listing activities</h1>

<table>
  <tr>
    <th>Start time</th>
    <th>Duration</th>
    <th>All day</th>
    <th>Type</th>
    <th>Correlation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.start_time %></td>
    <td><%= activity.duration %></td>
    <td><%= activity.all_day %></td>
    <td><%= activity.activity_type.name %></td>
    <td><%= activity.correlation_id %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
