<h1>Händelser</h1>




<table>
  <tr>
    <th>Start time</th>
    <th>Duration</th>
    <th>All day</th>
    <th>Type</th>
    <th>Correlation</th>
    <th>RSVP</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><nobr><%= activity.start_time.strftime("%H:%M %Y-%m-%d") %></nobr></td>
    <td><%= activity.duration %></td>
    <td><%= activity.all_day %></td>
    <td><%= activity.activity_type.name  %></td>
    <td><%= activity.correlation_id %></td>
    <td><%= image_tag 'indicators/shiny_round_Green.png'%> <%= activity.attending.count %> <%= image_tag 'indicators/shiny_round_yellow.png', :alt => 'Kanske'%> <%= activity.maybe_coming.count %> <%= image_tag 'indicators/shiny_round_Red.png'%> <%= activity.not_coming.count %> <%= image_tag 'indicators/shiny_round_gray.png'%> <%= activity.no_answer.count %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
