<%= javascript_include_tag 'activities-ui' %>

<h1>Aktiviteter</h1>

<table width="100%" class="activites-table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>RSVP</th>
    <th>RSVP Staples</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @activities.each do |activity| %>
      <tr>
        <td class="activity-type">
          <% if activity.activity_type.id == 1 %>
              <%= image_tag 'indicators/activity-workout.png', :alt => 'Träning' %>
          <% elsif activity.activity_type.id == 2 %>
              <%= image_tag 'indicators/activity-game.png', :alt => 'Träning' %>
          <% end %>
        </td>

        <td class="activity-time">
          <nobr>
            <strong>
              <%= activity.start_at.strftime("%H:%M") if !activity.all_day %>
            </strong>
            <%= activity.display_date %>
            <%= image_tag('indicators/repeat-arrow2.png', :alt => 'Tillhör en serie', :align => "top") if !activity.correlation_id.blank? %>
          </nobr>
        </td>

        <td>
          <% if activity.all_day %>
              Heldag
          <% else %>
              <%= ((activity.end_at - activity.start_at) / 3600).round(1).to_s.gsub(".", ",") + " h" %>
          <% end %>
        </td>

        <td>
          <% if activity.is_user_attending?(current_user) %>
              <b>
          <% else %>
              <a href="<%= "/activities/#{activity.id}/rvsps/attend/#{current_user.id}" %>">
          <% end %>
          <%= image_tag 'indicators/shiny_round_Green.png', :border => 'none' %> <%= activity.attending.count %>
          <% if activity.is_user_attending?(current_user) %>
              </b>
          <% else %>
              </a>
          <% end %>

          &nbsp;
          <% if activity.is_user_maybe_attending?(current_user) %>
              <b>
          <% else %>
              <a href="<%= "/activities/#{activity.id}/rvsps/maybe/#{current_user.id}" %>">
          <% end %>
          <%= image_tag 'indicators/shiny_round_yellow.png', :alt => 'Kanske', :border => 'none' %> <%= activity.maybe_coming.count %>
          <% if activity.is_user_maybe_attending?(current_user) %>
              </b>
          <% else %>
              </a>
          <% end %>

          &nbsp;
          <% if activity.is_user_not_attending?(current_user) %>
              <b>
          <% else %>
              <a href="<%= "/activities/#{activity.id}/rvsps/not/#{current_user.id}" %>">
          <% end %>
          <%= image_tag 'indicators/shiny_round_Red.png', :border => 'none' %> <%= activity.not_coming.count %>
          <% if activity.is_user_not_attending?(current_user) %>
              </b>
          <% else %>
              </a>
          <% end %>


          &nbsp;
          <%= image_tag 'indicators/shiny_round_gray.png', :border => 'none' %>
          <%= activity.no_answer.count %>
        </td>

        <td>
          <div id="bars-<%= activity.id.to_s %>" class="bars-container">
            <%= image_tag 'indicators/green-bar.png', :height => ((activity.attending.count.to_f / activity.all_invitations.count.to_f) * 14).round, :width => "13" %>
            <%= image_tag 'indicators/yellow-bar.png', :height => (activity.maybe_coming.count.to_f / activity.all_invitations.count.to_f * 14).round, :width => "13" %>
            <%= image_tag 'indicators/red-bar.png', :height => (activity.not_coming.count.to_f / activity.all_invitations.count.to_f * 14).round, :width => "13" %>
            <%= image_tag 'indicators/grey-bar.png', :height => (activity.no_answer.count.to_f / activity.all_invitations.count.to_f * 14).round, :width => "13" %>
            <%= image_tag 'indicators/arrow_state_blue_expanded.png', :align => 'right', :class => 'arrow-collapsed' %>
            <div style="display: none;">
              <br/>
              <img src="/images/indicators/shiny_round_green.png" alt=""/> <%= activity.attending.count.to_s %>
              kommer<br/>
              <img alt="Kanske" border="none" src="images/indicators/shiny_round_yellow.png"/> <%= activity.maybe_coming.count.to_s %>
              kanske<br/>
              <img alt="Shiny_round_red" border="none" src="images/indicators/shiny_round_Red.png"/> <%= activity.not_coming.count.to_s %>
              kommer inte<br/>
              <img alt="Shiny_round_gray" border="none" src="images/indicators/shiny_round_gray.png"/> <%= activity.no_answer.count.to_s %>
              inte svarat
            </div>
          </div>
        </td>

        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Activity', new_activity_path %>
