<%= javascript_include_tag 'activities-ui' %>

<%= javascript_tag "var userId = " + current_user.id.to_s + ";" %>

<%
             def color_class(activity)
                 if activity.is_user_invited?(current_user) then
                     if activity.is_user_attending?(current_user)
                         "background-green"
                     elsif activity.is_user_maybe_attending?(current_user)
                         "background-yellow"
                     elsif activity.is_user_not_attending?(current_user)
                         "background-red"
                     else
                         "background-grey"
                     end
                 end
             end
          %>
<h1>Aktiviteter</h1>

<table width="100%" class="activites-table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>RSVP</th>
    <th>RSVP Staples</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @activities.each do |activity| %>
      <tr class="row-for-activity-<%= activity.id.to_s  %> <%=	 cycle 'activity-list-even-row', '' %>">
        <td class="activity-type">
          <% if activity.activity_type.id == 1 %>
              <%= image_tag 'indicators/activity-workout.png', :alt => 'Träning' %>
          <% elsif activity.activity_type.id == 2 %>
              <%= image_tag 'indicators/activity-game.png', :alt => 'Träning' %>
          <% end %>
        </td>

        <td class="activity-time">
          <nobr>
            <strong>
              <%= activity.start_at.strftime("%H:%M") if !activity.all_day %>
            </strong>
            <%= activity.display_date %>
            <%= image_tag('indicators/repeat-arrow2.png', :alt => 'Tillhör en serie', :align => "top") if !activity.correlation_id.blank? %>
          </nobr>
        </td>

        <td>
          <% if activity.all_day %>
              Heldag
          <% else %>
              <%= ((activity.end_at - activity.start_at) / 3600).round(1).to_s.gsub(".", ",") + " h" %>
          <% end %>
        </td>

        <td>

          <select id="rvsp-<%= activity.id.to_s %>" class="rvsp-dropdown <%= color_class(activity) %>" <%= 'disabled' if !activity.is_user_invited?(current_user) %>>
            <option value="1" <%= 'SELECTED' if activity.is_user_attending?(current_user) %>>Kommer</option>
            <option value="2" <%= 'SELECTED' if activity.is_user_maybe_attending?(current_user) %>>Kanske</option>
            <option value="3" <%= 'SELECTED' if activity.is_user_not_attending?(current_user) %>>Kommer inte</option>
            <option value="4" DISABLED <%= 'SELECTED' if !activity.is_user_attending?(current_user) && !activity.is_user_maybe_attending?(current_user) && !activity.is_user_not_attending?(current_user) %>>Ej
              svarat
            </option>
          </select>
        </td>

        <td>
          <div id="bars-<%= activity.id.to_s %>" class="bars-container">
            <%= image_tag 'indicators/green-bar.png', :height => ((activity.attending.count.to_f / activity.all_invitations.count.to_f) * 14).round, :class => "bar-decoration nav-green-bar" %>
            <%= image_tag 'indicators/yellow-bar.png', :height => (activity.maybe_coming.count.to_f / activity.all_invitations.count.to_f * 14).round, :class => "bar-decoration nav-yellow-bar" %>
            <%= image_tag 'indicators/red-bar.png', :height => (activity.not_coming.count.to_f / activity.all_invitations.count.to_f * 14).round, :class => "bar-decoration nav-red-bar" %>
            <%= image_tag 'indicators/grey-bar.png', :height => (activity.no_answer.count.to_f / activity.all_invitations.count.to_f * 14).round, :class => "bar-decoration nav-grey-bar" %>
            <%= image_tag 'indicators/arrow_state_blue_expanded.png', :align => 'right', :class => 'arrow-collapsed' %>
            <div class="activity-attendance-detail" style="display: none;">
              <br/>
              <img src="/images/indicators/add_small.png" alt=""/> <strong><%= activity.attending.count.to_s %></strong>
              kommer<br/>
              <img alt="Kanske" border="none" src="/images/indicators/warning_triangle_small.png"/> <strong><%= activity.maybe_coming.count.to_s %></strong>
              kanske<br/>
              <img alt="Shiny_round_red" border="none" src="/images/indicators/remove_minus_sign_small.png"/> <strong><%= activity.not_coming.count.to_s %></strong>
              kommer inte<br/>
              <img alt="Shiny_round_gray" border="none" src="/images/indicators/error_small.png"/> <strong><%= activity.no_answer.count.to_s %></strong>
              inte svarat
            </div>
          </div>
        </td>

        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Activity', new_activity_path %>
