<h1>Aktiviteter</h1>

<table width="100%">
  <tr>
    <th></th>
    <th>Start time</th>
    <th>Duration</th>
    <th>All day</th>
    <th>Type</th>
    <th>Correlation</th>
    <th>RSVP</th>
    <th></th>
    <th></th>o
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td class="activity-type">
      <% if activity.activity_type.id == 1%>
        <%= image_tag 'indicators/activity-workout.png', :alt => 'Träning'  %>
      <% elsif activity.activity_type.id == 2 %>
          <%= image_tag 'indicators/activity-game.png', :alt => 'Träning'  %>
      <% end %>
    </td>
    <td class="activity-time"><nobr><strong><%= activity.start_at.strftime("%H:%M") %></strong> <%= activity.display_date  %> <%= activity.start_at.strftime("%Y-%m-%d") %></nobr></td>
    <td><%= ((activity.end_at - activity.start_at) / 3600).round(1)  %></td>
    <td><%= activity.all_day %></td>
    <td><%= activity.activity_type.name  %></td>
    <td><%= activity.correlation_id %></td>
    <td>
      <% if activity.is_user_attending?(current_user) %>
        <b>
      <% else %>
         <a href="<%= "/activities/#{activity.id}/rvsps/attend/#{current_user.id}"  %>">
      <% end %>
      <%= image_tag 'indicators/shiny_round_Green.png'%> <%= activity.attending.count %>
      <% if activity.is_user_attending?(current_user) %>
        </b>
      <% else %>
        </a>
      <% end %>

        &nbsp;
      <% if activity.is_user_maybe_attending?(current_user)%>
        <b>
      <% else %>
         <a href="<%= "/activities/#{activity.id}/rvsps/maybe/#{current_user.id}"  %>">
      <% end %>
      <%= image_tag 'indicators/shiny_round_yellow.png', :alt => 'Kanske'%> <%= activity.maybe_coming.count %>
      <% if activity.is_user_maybe_attending?(current_user) %>
        </b>
      <% else %>
        </a>
      <% end %>

        &nbsp;
      <% if activity.is_user_not_attending?(current_user) %>
        <b>
      <% else %>
         <a href="<%= "/activities/#{activity.id}/rvsps/not/#{current_user.id}"  %>">
      <% end %>
      <%= image_tag 'indicators/shiny_round_Red.png'%> <%= activity.not_coming.count %>
      <% if activity.is_user_not_attending?(current_user) %>
        </b>
      <% else %>
        </a>
      <% end %>


      &nbsp;<%= image_tag 'indicators/shiny_round_gray.png'%> <%= activity.no_answer.count %>
    </td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
