<%= javascript_include_tag 'activities-ui', 'collapsible-regions' %>
<%= javascript_tag "var userId = " + current_user.id.to_s + ";" %>

<%
   #TODO: MOVE THESE METHODS TO activities_helper?
   def color_class(activity)
       if activity.is_user_invited?(current_user) then
           if activity.is_user_attending?(current_user)
               "background-green"
           elsif activity.is_user_maybe_attending?(current_user)
               "background-yellow"
           elsif activity.is_user_not_attending?(current_user)
               "background-red"
           else
               "background-grey"
           end
       end
   end

   def attending_ratio(activity)
       if activity.all_invitations.count == 0
           0
       else
           (activity.attending.count.to_f / activity.all_invitations.count.to_f)
       end
   end

   def maybe_ratio(activity)
       if activity.all_invitations.count == 0
           0
       else
           activity.maybe_coming.count.to_f / activity.all_invitations.count.to_f
       end
   end
   def not_comming_ratio(activity)
       if activity.all_invitations.count == 0
           0
       else
           activity.not_coming.count.to_f / activity.all_invitations.count.to_f
       end
   end
   def no_answer_ratio(activity)
       if activity.all_invitations.count == 0
           0
       else
           activity.no_answer.count.to_f / activity.all_invitations.count.to_f
       end
   end


%>

<p id="notice"><%= notice %></p>

<h1><%= @activity.name%></h1>

<div id="activity-info-wrapper" class="activity-section collapsible-container">
    <div id="time-info-wrapper">
        <p>Tid: <strong><%= @activity.start_at.strftime("%H:%M") if !@activity.all_day %></strong></p>

        <p>Datum: <strong><%= @activity.display_date%></strong></p>

        <p>Varaktighet: <strong><%= ((@activity.end_at - @activity.start_at) / 3600).round(1).to_s.gsub(".", ",") + " h" %></strong></p>
        <p>Plats: <strong>Högdalen</strong></p>
    </div>

    <div id="attendee-info-wrapper">

        <select id="rvsp-<%= @activity.id %>" class="rvsp-dropdown <%= color_class(@activity) %>" <%= 'disabled' if !@activity.is_user_invited?(current_user) %> style="width: 140px;">
            <option value="1" <%= 'SELECTED' if @activity.is_user_attending?(current_user) %>>Kommer</option>
            <option value="2" <%= 'SELECTED' if @activity.is_user_maybe_attending?(current_user) %>>Kanske</option>
            <option value="3" <%= 'SELECTED' if @activity.is_user_not_attending?(current_user) %>>Kommer inte</option>
            <option value="4" DISABLED <%= 'SELECTED' if !@activity.is_user_attending?(current_user) && !@activity.is_user_maybe_attending?(current_user) && !@activity.is_user_not_attending?(current_user) %>>Ej
              svarat
            </option>
        </select>

        <br/>
        <br/>


        <div id="bars-<%= @activity.id %>" class="bars-container-wide" style="width: 130px;">
            <% bar_heigt = 28 %>
            <%= image_tag 'indicators/green-bar.png', :height => (attending_ratio(@activity) * bar_heigt).round, :class => "bar-decoration-wide nav-green-bar" %>
            <%= image_tag 'indicators/yellow-bar.png', :height => (maybe_ratio(@activity) * bar_heigt).round, :class => "bar-decoration-wide nav-yellow-bar" %>
            <%= image_tag 'indicators/red-bar.png', :height => (not_comming_ratio(@activity) * bar_heigt).round, :class => "bar-decoration-wide nav-red-bar" %>
            <%= image_tag 'indicators/grey-bar.png', :height => (no_answer_ratio(@activity) * bar_heigt).round, :class => "bar-decoration-wide nav-grey-bar" %>
            <div class="activity-attendance-detail">
                <img src="/images/indicators/add_small.png" alt=""/>
                <strong><%= @activity.attending.count.to_s %></strong> kommer<br/>
                <img alt="Kanske" border="none" src="/images/indicators/warning_triangle_small.png"/>
                <strong><%= @activity.maybe_coming.count.to_s %></strong> kanske<br/>
                <img alt="Shiny_round_red" border="none" src="/images/indicators/remove_minus_sign_small.png"/>
                <strong><%= @activity.not_coming.count.to_s %></strong> kommer inte<br/>
                <img alt="Shiny_round_gray" border="none" src="/images/indicators/error_small.png"/>
                <strong><%= @activity.no_answer.count.to_s %></strong> inte svarat
            </div>
        </div>
        <br/>
    </div>

    <div id="activity-map-wrapper">
      <%=  raw(google_map_url_for_location('Högdalen')) %>
    </div>

</div>

<div id="activity-details-wrapper" class="collapsible-container">
    <div id="attendance-header" class="collapse-arrow collapsible-sub-header">
        <h2>Närvaro</h2>
    </div>

    <div id="attendance-area" class="collapsible-region">
        <div>
         <ul>
          <%
          current_rvsp_status = ""
          end_it = false
          %>
          <% @activity.rvsps.order('rvsp_status_id').each do |rvsp| %>
              <%
              if current_rvsp_status != rvsp.rvsp_status.title
                current_rvsp_status = rvsp.rvsp_status.title
                 end_it = true
              %>
               </ul>
               </div>
               <div class="player-attendance-list">
                    <h2><%= current_rvsp_status %></h2>
                    <ul>
              <% end %>

                  <li class="<%= 'attending-player' if rvsp.rvsp_status_id == 1 %>">
                    <%= rvsp.user.full_name %> - <%= rvsp.rvsp_status.title %>
                  </li>



          <% end %>
        </ul>
    </div>
</div>
</div>



<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
