<%= javascript_include_tag 'expenses' %>


<% form_for(@expense) do |f| %>


    <div id="input-description">
      <%= f.label :description, 'Utlägget gjordes för ...' %>
      <br/>
      <%= f.text_field :description %>
    </div>

    <div id="input-event-date">
      <%= f.label :date, 'När?' %>
      <br/>
      <%= f.date_select :date %>
    </div>


    <div>
      Vilka är skyldiga?
      <br/>
      <!--<input type="text"/>-->
      <%= select_tag(:debt, options_from_collection_for_select(User.all, :id, :full_name)) %>
      <input id="add-to-shit-list" type="button" value="Lägg till"/>
    </div>

    <input id="hid-user-ids" type="hidden" value=""/>
     <a href="javascript:alert(document.getElementById('hid-user-ids').value);">What</a>


     <table id="table-of-guiltys" border="0">
         <tr>
             <td width="175"></td>
             <td width="70"></td>
             <td width="10"></td>
         </tr>

     </table>


<% end %>