<%= javascript_include_tag 'collapsible-regions', 'expenses-index' %>

<div class="collapsible-container">

  <div id="debts-header" class="collapse-arrow collapsible-sub-header">
    <h2>Dina skulder</h2>
  </div>

  <div class="collapsible-region">
    <div id="guilt-list">
      <% @debts.each do |debt| %>
          <ul class="<%= 'debt-paid' if debt.paid %>">
            <li>Du är skyldig <%= debt.expense.user.full_name %> <strong><%= debt.sum %> spänn</strong> för
              <em><%= debt.expense.description %> </em></li>
            <% if debt.paid then %>
                 ... väntar på godkännande
            <% else %>
                <li><a href="#" id="debt-<%= debt.id %>" class="i-have-paid-button">Jag har betalt ju!</a></li>
            <% end %>

          </ul>
      <% end %>
    </div>
  </div>
</div>


<br/>
<br/>
<br/>


<div class="collapsible-container">
  <div class="collapse-arrow collapsible-sub-header">
    <h2>Dina utlägg</h2>
  </div>
  <div class="collapsible-region">
    <% @expenses.each do |expense| %>
        <ul>
          <li>
            <%= expense.description %> genomfört: <strong><em><%= expense.date.to_s(:pdk_short_date) %></em></strong>
            <ul>
              <% expense.debts.each do |debt| %>
                <li>
                  <%= debt.user.full_name %>  - <%= debt.sum %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
    <% end %>

  </div>

</div>



<%= link_to 'Begär in stålar!', new_expense_path %>