<!DOCTYPE html>
<html>
<head>
  <title>Pdk Team Site</title>
  <%= stylesheet_link_tag 'screen' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'jquery.min', 'application' %>
  <%= include_tiny_mce_if_needed %>
</head>
<body>

<div id="main">


  
  <div class="container">
  <div id="top-right">
      <% if current_user %>
          [<%= current_user.full_name %>]
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
          <%= link_to "Logout", :logout %>
      <% else %>
          <%= link_to "Registrera", new_user_path %> |
          <%= link_to 'Login', :login %>
      <% end %>
    </div>

  
    <div id="menu">
      <a href="/" title="PDK Team Site"><img src="/images/logo.png" alt="PDK Team Site" title="PDK Team Site"/></a>
      <ul>
        <li><a href="/" title="Home"  class="<%= 'active' if request.path.start_with?('/') %>">Home</a></li>
        <li><a href="/users" title="Spelare" class="<%= 'active' if request.path.eql?('/users') %>">Spelare</a></li>
        <li><a href="/activities" title="Aktiviteter"  class="<%= 'active' if request.path.start_with?('/activities') %>">Aktiviteter</a></li>
        <li><a href="/forum" title="Forum" class="<%= 'active' if request.path.start_with?('/forum') %>">Forum</a></li>
        <li><a href="/calendar" title="Kalender" class="<%= 'active' if request.path.start_with?('/calendar') or request.path.eql?('/events') %>">Kalender</a></li>
      </ul>

    </div>
    <div class="line"></div>





    <%= yield %>

  </div>
 </div>
</body>
</html>
