<!DOCTYPE html>
<html>
    <head>
      <title>Pdk Team Site</title>
      <%= stylesheet_link_tag :all %>
      <%= csrf_meta_tag %>
      <%= javascript_include_tag 'jquery-1.5.1.min', 'application' %>
      <%= stylesheet_link_tag 'themes/redmond/jquery-ui-1.8.10.custom' %>
      <%= javascript_include_tag 'jquery-ui-1.8.10.custom.min' %>
    </head>
    <body>

        <div id="main">

            <%= yield %>

        </div>
    </body>
</html>
