<!DOCTYPE html>
<html>
<head>
  <title>Pdk Team Site</title>
  <%= stylesheet_link_tag 'screen' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'jquery.min', 'application' %>
  <%= javascript_include_tag'google-analytics' if Rails.env.production? %>
  <%= include_tiny_mce_if_needed %>
</head>
<body>

<div id="main">


  <div class="container">
    <div id="top-right">
      <% if current_user %>
          [<%= current_user.full_name %>]
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
          <%= link_to "Logout", :logout %>
      <% else %>
          <%= link_to "Registrera", new_user_path %> |
          <%= link_to 'Login', :login %>
      <% end %>
    </div>

    <%= render 'shared/topmenu' %>


    <%= yield %>

  </div>
</div>

</body>
</html>
